%nav.navbar.navbar-default
  .container
    .navbar-brand
      = link_to "Pin Board", root_path

    %ul.nav.navbar-nav
      %li= link_to "Pin Board", pins_path
      %li= link_to "Movies", movies_path
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:type => "text", :placeholder => "Search"}
        %button.btn.btn-default{:type => "submit"} Submit
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "New Pin", new_pin_path
        %li= link_to "Account", edit_user_registration_path
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Sign Up", new_user_registration_path
        %li= link_to "Sign In", new_user_session_path
