!!! 5
%html
  %head
    %title PinBoard
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/header'

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
      =yield
